{% extends "app/layout.html" %}

{% block content %}
<h2 style="color:antiquewhite; ">{{ title }}</h2>
<h2 style="color:azure; ">{{ message }}</h2>
<div style="color:azure; ">
    <p style="line-height:25px; text-justify:inter-word">
        Our aim is to provide an interactive and responsive website to educate children in an innovative way about the elements present in periodic table.<br />
        Details such as their physical properties, chemical properties and their electronic configuration can be annotated through interesting animation or graphics.<br />
        Also categorization of elements on basis of similar properties helps to remember the elements in an effecient manner.<br />
        Elementos is an alternative to other existing methods to teach children about the periodic table and properties of elements of the periodic table.<br />
        It also features a smart interactive mode which is always ready to solve your queries related to periodic table and physical properties, chemical properties and their electronic configuration of the elements.<br />
        Mini games helps to keep young learners excited, involved and enthusiastic for learning more.<br />
        One of the interesting activity includes a  mini game that allows children to identify the position of a particular element from a masked periodic table.<br />
        This would help children to have a better understanding about the positioning of elements in periodic table.<br />
        The use of mnemonics provide an easy way to memorise the elements that are placed along periods and groups in periodic table.<br />
        Also students are made aware of valuable contribution made by some Indian Chemists in the field of Chemistry.
    </p>
</div>

{% endblock %}
